<div class="row flex-center flex">
  <div class="col-6 form-widget" aria-live="polite">
    <h1 class="text-2xl font-bold header">Password Reset</h1>
    <p class="description">Reset your password here.</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form-widget">
      <div>
        <label for="password">Password</label>
        <input id="password" formControlName="password" class="inputField" type="password" placeholder="Your password" />
        <label for="password">Confirm Password</label>
        <input id="password" formControlName="confirmPassword" class="inputField" type="password" placeholder="Your password again" />
      </div>
      <div class="mt-4">
        <button type="submit" class="button block">
            Confirm Password Change
        </button>
      </div>
    </form>
  </div>
</div>