<section id="editor" class="flex flex-row w-screen h-screen">
    <div id="tile-map-panel" class="border-4 border-black">
        <div class="grid">
            @for (tileDescriptor of tileMap.descriptors; track $index) {
                <img (click)="selectTile(tileDescriptor)" src="{{tileDescriptor.sprite.texture?.src}}"/>
            }
        </div>
    </div>
    <div class="scene-view flex w-full h-full">
        <canvas (click)="handleCanvasClick($event)" class="w-full h-full grow" id="gameCanvas"></canvas>
    </div>
</section>